<%- include('partials/header',{title: 'Score'}) %>
    <div style="text-align:center">
        <h1>
            <%= quizTitle %>
        </h1>
        <b>Score:</b>
        <h1>
            <%= score %>
        </h1> out of
        <%= total%>
    </div>
    <%- include('partials/footer') %>